form.modal{
    display: none;
    &.show{
        display: block;
    }
}

ul{
    li.category{
        ul li{
            display: none;
            &.show{
                display: block;
            }
        }
    }
}