@media all and (max-width: 850px){
    #main-container{
        max-width: calc(100% - 30px);
        grid-template-areas: 
            'header header'
            'aside-left main'
            'aside-right aside-right'
            'footer footer';
        grid-template-columns: 200px 1fr;
        grid-template-rows: minmax(100px, auto) auto auto auto;
        row-gap: 20px;
    }
}
@media all and (max-width: 650px){
    #main-container{
        grid-template-areas:
            'header'
            'main'
            'aside-right'
            'aside-left'
            'footer';
        grid-template-rows: minmax(100px, auto) auto auto auto auto;
        grid-template-columns: 1fr;
        #addNewIncomesOutlaysBtns{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}