@media all and (max-width: 700px){
    #main-container{
        max-width: calc(100% - 20px);
        grid-template-areas:
            'header'
            'main'
            'aside'
            'footer';
        grid-template-rows: minmax(100px, auto) auto auto auto;
        grid-template-columns: 1fr;
        row-gap: 20px;
        #addNewIncomesOutlaysBtns{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}